services:
  db:
    image: postgres:16-alpine
    container_name: amestris_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: "12345"
      POSTGRES_DB: amestris_db
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    container_name: amestris_backend
    restart: always
    environment:
      DB_HOST: db
      DB_PORT: "5432"
      DB_USER: postgres
      DB_PASSWORD: "12345"
      DB_NAME: amestris_db
    depends_on:
      - db
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    container_name: amestris_frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "5173:80"
